<style>
    .message-content {
        font-family: arial, Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>Ola {{name}}</p><br>
    <p>Recebemos uma soliucitação de redefinição de senha para a sua conte de ususario</p>
    <p>Se realment efoi vc que solicitou, clique no link abaixo para escolher uma nova senha</p>
    <p>
        <a href="{{link}}"> Resetar minha senha</a>
        <br>
    </p>
    <p>caso vc n tenha solicitado descarte este email</p>
    <p>Obrigado !</p>
    <p>Equipe api vendas</p>
</div>
